<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You</title>
  <link rel="stylesheet" href="thank-you.css">
</head>

<body>
  <a href="/" class="go-back">
    Go back to homepage</a>
  <div class="box">
    <h1>Thank You for registering</h1>
    <p>Kindly join our <a class="whatsapp" target="_blank"
        href="https://chat.whatsapp.com/GW1NVU8Xq8DClmwosdSJQG">Whatsapp Platform</a>
      for more
      update
    </p>
    <div class="take-tour">
      <a href="https://www.kinplusgroup.com/" target="_blank" class="btn">TAKE A TOUR</a>
    </div>
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>
  </div>
</body>

</html>